{% extends 'base.html.twig' %}

{% block title %}Hello LearningController!{% endblock %}

{% block body %}
    <style xmlns="http://www.w3.org/1999/html">
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <h1> Hello {{ app.user.username }}! ✅</h1>
            <button><a href="{{ path('app_logout') }}">Logout</a></button>
            <button><a href="{{ path('app_admin') }}">Admin panel</a></button>
                {%else%}
                    <button><a href="{{ path('app_login') }}">login</a></button>
                    <button><a href="{{ path('app_register') }}">Register</a></button>
                   <h1> Hello {{ name }}! ✅</h1>
            {% endif %}
    </div>

{% endblock %}